<div class="book-container">
  <button class="nav-button prev-button" (click)="prevPage()">
    <span class="arrow">&#9664;</span>
  </button>

  <div class="book" [class.open]="isCoverOpen">
    <span class="cover">
    </span>

    @if (isCoverOpen) {
      <div class="pages">
        <app-page  [position]="'left'" [isCollage]="false" [images]="['images/cards/liston.webp']" />
        <app-page  [position]="'right'" [content]="'No importa el tiempo, no importa la distancia, no importar el lugar, estamos destinados a encontrarnos'" />
      </div>
    }

    <span class="cover" [class.turn]="isCoverOpen" [class.close]="!isCoverOpen && !initialState">
      <div class="book-title">
        <h1 class="title-main">Our Adventure</h1>
        <h2 class="title-sub">Book</h2>
        <div class="title-decoration">JJ</div>
      </div>
    </span>
  </div>

  <button class="nav-button next-button" (click)="nextPage()">
    <span class="arrow">&#9654;</span>
  </button>
</div>
